* {
    margin: 0px;
    padding: 0px;
    background-color: ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(imagens/grafico.avif);
    background-size: cover;
}

.login {
    border: 1px black solid;
    margin: 300px;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    text-align: center;
}